.header{
    height: 100px;
    background-color: #fff;
}
.header .nav{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.header .nav .logo{
    float: left;
    width: 221px;
    height: 100px;
    background: #fff url(../img/logo.png) no-repeat center;
}
.header .nav-list{
    float: right;
    margin-top: 31.5px;
}
.nav-list .nav-item{
    float: left;
    text-align: center;
    margin:0 38px;
}
.nav-list .nav-item .nav-link{
    display: block;
}
.nav-list .nav-item .underline{
    display: block;
    width: 20px;
    height: 1px;
    margin:0 auto;
    margin-top: 7px;
    /*background-color: #7092ce;*/
}
.nav-list .nav-item .nav-link:hover{
    color: #7092ce;
}
.nav-list .nav-item .nav-link:hover .underline{
    background-color: #7092ce;
}
.nav-list .nav-item .f-blue{
    color: #7092ce;
}
.nav-list .nav-item .b-blue{
    background-color: #7092ce;
}







/*=========banner========*/







.main .banner{
    height: 700px;
    background: #fff url(../img/banner1.png) no-repeat center;
    background-size: 100% 100%;
}
.main .banner .banner-c{
    position: relative;
    width: 1200px;
    height: 700px;
    margin:0 auto;
}
.banner .banner-c .banner-control{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
}
.banner .banner-c .control-dot{
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: #fff;
    background-clip: content-box;
    margin:0 5px;
}
.banner .banner-c .banner-control .Bigdot{
    background-color: #668aca;
    border: 3px solid white;
}
.banner .banner-c .banner-control .control-dot:hover{
    background-color: #668aca;
    border: 3px solid white;
}






/*=================project================*/










.main .project{
    width: 1200px;
    margin:0 auto;
    background-color: #F6F9FF;
    overflow: hidden;
}
.main .title{
    width: 1200px;
    margin:0 auto;
    margin-top: 120px;
}
.title .title-left{
    float: left;
    text-align: left;
}
.title .title-left .title-ch{
    font-size: 30px;
    color:#767676;
}
.title .title-left .title-en{
    font-size: 12px;
    color: #9b9b9b;
}
.title .title-left .left-line{
    width: 60px;
    height: 1px;
    background-color: #a1a1a1;
}
.title .line-right{
    float: right;
    width: 300px;
    height: 1px;
    background-color: #a1a1a1;
    margin-top: 56px;
}
.project .nav-list{
    width: 461px;
    margin: 55px auto;
}
.project .nav-list .rail{
    float: left;
}
.project .pro-img{
    width: 1200px;
    height: 270px;
}
.pro-img .img-list{
    position: relative;
    float: left;
    width: 360px;
    height: 270px;
    overflow: hidden;
}
.pro-img .img-list:nth-child(2){
    margin: 0 60px;
}
.pro-img .img-list .pro-link{
    display: block;
    width: 360px;
    height: 180px;
    border-radius: 12px;
    -webkit-background-size: cover;
    background-size: cover;
}
.pro-img .img-list .link-l{
    background: #F6F9Ff url(../img/img11.png) no-repeat center;

}
.pro-img .img-list .link-c{
    background: #F6F9Ff url(../img/img22.png) no-repeat center;
}
.pro-img .img-list .link-r{
    background: #F6F9Ff url(../img/img33.png) no-repeat center;
}
.pro-img .img-list .pro-link .pro-dep{
    position: absolute;
    width: 360px;
    height: 90px;
    bottom: 0px;
    left: 0px;
}
.pro-img .img-list .pro-link .pro-dep .text-top{
    margin-top: 28px;
    margin-left: 45px;
}
.pro-img .img-list .pro-link .pro-dep .text-dep{
    margin-left: 45px;
    margin-top: 7px;
}
.pro-img .img-list .pro-link .btn{
    position: absolute;
    right: 50px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    font-size: 29px;
}
/*.pro-img .img-list .link-l{
     width: 360px;
    height: 270px;
}
.pro-img .img-list .link-l .pro-dep{
    width: 360px;
    height: 270px;
    color: white;
    background-color: rgba(50,50,50,0.7);
}
.pro-img .img-list .link-l .pro-dep  p{
    color:white;
}
.pro-img .img-list .link-l .pro-dep  .btn{
    color:white;
}*/
.pro-img .img-list .pro-link:hover{
    width: 360px;
    height: 270px;
}
.pro-img .img-list .pro-link:hover .pro-dep{
    width: 360px;
    height: 270px;
    color: white;
    background-color: rgba(50,50,50,0.7)
}
.pro-img .img-list .pro-link:hover .pro-dep  p{
    color:white;
    transition: all 0.3s;
}
.pro-img .img-list .pro-link:hover .pro-dep .btn{
    color: white;
}




/*=========porduct========*/







.main .product{
    background-color: #F5F5F5;
    overflow: hidden;
}
.main .product .product-c{
    width: 1200px;
    margin: 0 auto;
}
.main .product .pro-icon{
    width: 1175px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 110px;
}
.main .product .pro-icon .icon-list{
    float: left;
    width: 165px;
    height: 85px;
    margin:0 35px;
}
.main .product .pro-icon .icon-list .icon-link{
    display: block;
    width: 165px;
    height: 85px;
    border-radius: 15px;
}
.main .product .pro-icon .link-bed{
    background: #F5F5F5 url(../img/chuang.png) no-repeat center;
}
.main .product .pro-icon .link-sofa{
    background: #F5F5F5 url(../img/safa.png) no-repeat center;
}
.main .product .pro-icon .link-table{
    background: #F5F5F5 url(../img/zhuo.png) no-repeat center;
}
.main .product .pro-icon .link-closet{
    background: #F5F5F5 url(../img/gui.png) no-repeat center;
}
.main .product .pro-icon .link-light{
    
    background: #F5F5F5 url(../img/deng.png) no-repeat center;
}
.main .product .pro-icon .icon-list .icon-link:hover{
    background-color: #94ADDA;
}
.product-c .bed-img{
    display: flex;
    width: 1200px;
   flex-wrap: wrap;
   justify-content: space-between;
}
.product-c .bed-img .bed-list{
    width: 360px;
    height: 360px;
}
.product-c .bed-img .bed-list .bed-link{
    position: relative;
    display: block;
    width: 360px;
    height: 360px;

}
.product-c .bed-img .bed-list .bed1{
    background:#F5F5F5 url(../img/chuang1.png) no-repeat center;
}
.product-c .bed-img .bed-list .bed2{
    background:#F5F5F5 url(../img/chuang2.png) no-repeat center;
}
.product-c .bed-img .bed-list .bed3{
    background:#F5F5F5 url(../img/chuang3.png) no-repeat center;
}
.product-c .bed-img .bed-list .bed4{
    background:#F5F5F5 url(../img/chuang4.png) no-repeat center;
}
.product-c .bed-img .bed-list .bed5{
    background:#F5F5F5 url(../img/chuang5.png) no-repeat center;
}
.product-c .bed-img .bed-list .bed6{
    background:#F5F5F5 url(../img/chuang6.png) no-repeat center;
}
.product-c .bed-img .bed-list .bed-dep{
    position: absolute;
    left: 0px;
    bottom: 23px;
}
.product-c .bed-img .bed-list .bed-dep .text-dep p{
    font-size: 16px;
    margin-left: 100px;
}
.product-c .bed-img .bed-list .dep-number{
    display: none;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-top:60px;
}
.product-c .bed-img .bed-list .dep-number .underline{
    display: inline-block;
    width: 80px;
    border-bottom: 2px solid #fff;
}
/*.product-c .bed-img .bed-list .bed-link .bed-dep-curr{
    position: absolute;
    left: -25px;
    top: 0px;
    width: 410px;
    height: 360px;
    background-color: rgba(50,50,50,0.4);
}
.product-c .bed-img .bed-list .bed-link .text-dep .f-white{
    color: #fff;
}
.product-c .bed-img .bed-list .bed-link .bed-dep .dep-number.on{
    display: block;
}*/
.product-c .bed-img .bed-list .bed-link:hover .dep-number{
    display: block;
}
.product-c .bed-img .bed-list .bed-link:hover .bed-dep{
    position: absolute;
    left: -25px;
    top: 0px;
    width: 410px;
    height: 360px;
    background-color: rgba(50,50,50,0.4);   
}
.product-c .bed-img .bed-list .bed-link:hover .text-dep>p{
    color: #fff;
}







/*=============service===========*/








.main .service-bg{
    height: 700px;
    background: #F5F5F5 url(../img/service1.jpg) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    margin-top: 60px;
}
.service .service-c{
    position: relative;
    width: 1200px;
    height: 700px;
    margin:0 auto;
}
.service .service-c .service-title{
    position: absolute;
    left: 0;
    top:150px;
}
.service .service-c .service-title .en-top{
    font-size: 30px;
    color: white;
}
.service .service-c .service-title .english{
    color: white;
}
.service .service-c .nav-list{
    position: absolute;
    right: 0px;
    bottom: 150px;
}
.service .service-c .nav-list .nav-item{
    margin: 0px;
    width: 260px;
    height: 160px;
    border: 1px solid rgba(180,180,180,0.5);
}
.service .service-c .nav-list .nav-link{
    font-size: 25px;
    color: #fff;
    padding: 43px 0px; 
} 
.service .service-c .nav-list .nav-link p{
    color:rgb(240,240,240);
}
.service .service-c .nav-list .nav-link .underline{
    background-color: #fff;
}
/*.service .service-c .nav-list .nav-item .nav-link.bg-blue{
    background-color: #668aca;
}*/
.service .service-c .nav-list .nav-item .nav-link:hover{
    background-color: #668aca;
}








/*==================news=====================*/








.main .news-c{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    overflow: hidden;
}
.main .news-img{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}
.news-img .news-right{
    float: right;
    width: 570px;
    height: 570px;
}
.news-img .news-right .news-link.right{
    display: block;
    width: 570px;
    height: 570px;
    background: #fff url(../img/news4.png) no-repeat center;
}
.news-img .news-left{
    float: left;
    width: 570px;
    height: 570px;
}
.news-img .news-left .news-link.top{
    display: block;
    width: 570px;
    height: 270px;
    background: #fff url(../img/news1.png) no-repeat center;
}
.news-img .news-left .news-dow{
    width: 570px;
    height: 270px;
    margin-top:30px;
}
.news-img .news-left .news-dow .news-link.dow1{
    float: left;
    width: 270px;
    height: 270px;
    background: #fff url(../img/news2.png) no-repeat center;
}
.news-img .news-left .news-dow .news-link.dow2{
    float: right;
    width: 270px;
    height: 270px;
    background: #fff url(../img/news3.png) no-repeat center;
}



.news-img .news-link{
    position: relative;
}
.news-img .news-link .news-text{
    display: none;
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(50,50,50,0.7);
}
.news-img .news-link .news-text .text-top{
    font-size: 16px;
    margin-top: 28px;
    margin-left: 20px;
}
.news-img .news-link .news-text .text-dep{
    margin-left: 20px;
    margin-top: 7px;
}
.news-img .news-link .news-text p{
    color: white;
}
.news-img .news-link .news-text .btn{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    font-size: 29px;
    color: white;
}
.news-img .news-link:hover .news-text{
    display: block;
}









/*======================about========================*/












.main .about{
    overflow: hidden;
}
.main .about .about-c{
    width: 1200px;
    margin:0 auto;
    margin-top:60px; 
}
.main .about .about-c .about-left{
    float: left;
    width: 500px;
    height: 300px;
    background: #fff url(../img/about-shouye.png) no-repeat center;
}
.main .about .about-c .about-right{
    float: right;
    width: 660px;
    height: 300px;
    text-indent: 2em;
}
.main .about .about-c .about-right .dep-text{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
}






/*======================footer=======================*/









.footer{
    height: 260px;
    background-color: #f7f7f7;
    margin-top: 150px;
}
.footer .footer-c{
    width: 1200px;
    height: 260px;
    margin:0 auto;
}
.footer .footer-c .tell-way{
   width: 1072px;
   margin:0 auto;  
}
.footer .footer-c .tell-way ul{
    float: left;
    height: 150px;
    margin-top: 50px;
    border-right:1px solid #e9e9e9;
}
.footer .footer-c .tell-way .tell{
    border-right: none; 
}
.footer .footer-c .tell-way ul li{
    text-align: left;
    font-size: 20px;
    color: #767676;
    padding:10px 50px;
    
}
.footer .footer-c .tell-way .next .iconfont{
    margin : 0 10px;
    font-size: 30px;
    color: #cdcdcd;
}