.header{
    height: 100px;
    background-color: #fff;
}
.header .nav{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.header .nav .logo{
    float: left;
    width: 221px;
    height: 100px;
    background: #fff url(../img/logo.png) no-repeat center;
}
.header .nav-list{
    float: right;
    margin-top: 31.5px;
}
.nav-list .nav-item{
    float: left;
    text-align: center;
    margin:0 38px;
}
.nav-list .nav-item .nav-link{
    display: block;
}
.nav-list .nav-item .underline{
    display: block;
    width: 20px;
    height: 1px;
    margin:0 auto;
    margin-top: 7px;
    /*background-color: #7092ce;*/
}
.nav-list .nav-item .nav-link:hover{
    color: #7092ce;
}
.nav-list .nav-item .nav-link:hover .underline{
    background-color: #7092ce;
}
.nav-list .nav-item .f-blue{
    color: #7092ce;
}
.nav-list .nav-item .b-blue{
    background-color: #7092ce;
}




/*==================banner=================*/




.main .banner{
    width: 1200px;
    height: 300px;
    margin:0 auto;
    background: #fff url(../img/banner.png) no-repeat center;
}





/*==============bed========================*/





.main .bed{
    width: 1200px;
    margin:0 auto;
    overflow: hidden;
}







/*=======================title=================*/






.title{
    margin-top: 60px;
    margin-bottom: 70px;
}
.title .title-left{
    float: left;
}
.title .title-left span{
    color: #668aca;
}
.title .title-right{
    float: right;
}
.nav-list{
    float: right;
}
.nav-list .nav-item{
    float: left;
    text-align: center;
    margin:0 38px;
}
.title-right .nav-list .nav-item:last-child{
    margin-right: 0px;
}
.nav-list .nav-item .nav-link{
    display: block;
}
.nav-list .nav-item .underline{
    display: block;
    width: 20px;
    height: 1px;
    margin:0 auto;
    margin-top: 7px;
}
.nav-list .rail{
    float: left;
}
.nav-list .nav-item .nav-link:hover{
    color: #7092ce;
}
.nav-list .nav-item .nav-link:hover .underline{
    background-color: #7092ce;
}
.nav-list .nav-item .f-blue{
    color: #7092ce;
}
.nav-list .nav-item .b-blue{
    background-color: #7092ce;
}





/*==================img-show=================*/


/*====================bed======================*/

.main{
    background-color: #F4F5F5;
}
.main .bed{
    width: 1200px;
    margin: 0 auto;
 }




.pro-img{
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pro-img .pro-list{
    width: 360px;
    height: 360px;
}
.pro-img .pro-list .pro-link{
    position: relative;
    display: block;
    width: 360px;
    height: 360px;

}
.bed .pro-img .pro-list .pro0{
    background:#F5F5F5 url(../img/bed0.png) no-repeat center;
}
.bed .pro-img .pro-list .pro1{
    background:#F5F5F5 url(../img/bed1.png) no-repeat center;
}
.bed .pro-img .pro-list .pro2{
    background:#F5F5F5 url(../img/bed2.png) no-repeat center;
}
.bed .pro-img .pro-list .pro3{
    background:#F5F5F5 url(../img/bed3.png) no-repeat center;
}
.bed .pro-img .pro-list .pro4{
    background:#F5F5F5 url(../img/bed4.png) no-repeat center;
}
.bed .pro-img .pro-list .pro5{
    background:#F5F5F5 url(../img/bed5.png) no-repeat center;
}
.pro-img .pro-list .pro-dep{
    position: absolute;
    left: 0px;
    bottom: 23px;
}
.pro-img .pro-list .pro-dep .text-dep p{
    font-size: 16px;
    margin-left: 100px;
}
.pro-img .pro-list .dep-number{
    display: none;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-top:60px;
}
.pro-img .pro-list .dep-number .underline{
    display: inline-block;
    width: 80px;
    border-bottom: 2px solid #fff;
}
.pro-img .pro-list .pro-link:hover .dep-number{
    display: block;
}
.pro-img .pro-list .pro-link:hover .pro-dep{
    position: absolute;
    left: -25px;
    top: 0px;
    width: 410px;
    height: 360px;
    background-color: rgba(50,50,50,0.4);   
}
.pro-img .pro-list .pro-link:hover .text-dep>p{
    color: #fff;
}







/*=================sofa==================*/






.main .sofa{
    width: 1200px;
    margin: 0 auto;
 }
.sofa .pro-img .pro-list .pro0{
    background:#F5F5F5 url(../img/sofa0.png) no-repeat center;
}
.sofa .pro-img .pro-list .pro1{
    background:#F5F5F5 url(../img/sofa1.png) no-repeat center;
}
.sofa .pro-img .pro-list .pro2{
    background:#F5F5F5 url(../img/sofa2.png) no-repeat center;
}






/*=================table=====================*/







.main .table{
    width: 1200px;
    margin: 0 auto;
 }
.table .pro-img .pro-list .pro0{
    background:#F5F5F5 url(../img/table0.png) no-repeat center;
}
.table .pro-img .pro-list .pro1{
    background:#F5F5F5 url(../img/table1.png) no-repeat center;
}
.table .pro-img .pro-list .pro2{
    background:#F5F5F5 url(../img/table2.png) no-repeat center;
}





/*=================closet====================*/








.main .closet{
    width: 1200px;
    margin: 0 auto;
 }
.closet .pro-img .pro-list .pro0{
    background:#F5F5F5 url(../img/closet0.png) no-repeat center;
}
.closet .pro-img .pro-list .pro1{
    background:#F5F5F5 url(../img/closet1.png) no-repeat center;
}
.closet .pro-img .pro-list .pro2{
    background:#F5F5F5 url(../img/closet2.png) no-repeat center;
}






/*==============light==================*/








.main .light{
    width: 1200px;
    margin: 0 auto;
 }
.light .pro-img .pro-list .pro0{
    background:#F5F5F5 url(../img/light0.png) no-repeat center;
}
.light .pro-img .pro-list .pro1{
    background:#F5F5F5 url(../img/light1.png) no-repeat center;
}
.light .pro-img .pro-list .pro2{
    background:#F5F5F5 url(../img/light2.png) no-repeat center;
}






/*=================footer=================*/





.footer{
    height: 260px;
    background-color: #f7f7f7;
    margin-top: 150px;
}
.footer .footer-c{
    width: 1200px;
    height: 260px;
    margin:0 auto;
}
.footer .footer-c .tell-way{
   width: 1072px;
   margin:0 auto;  
}
.footer .footer-c .tell-way ul{
    float: left;
    height: 150px;
    margin-top: 50px;
    border-right:1px solid #e9e9e9;
}
.footer .footer-c .tell-way .tell{
    border-right: none; 
}
.footer .footer-c .tell-way ul li{
    text-align: left;
    font-size: 20px;
    color: #767676;
    padding:10px 50px;
    
}
.footer .footer-c .tell-way .next .iconfont{
    margin : 0 10px;
    font-size: 30px;
    color: #cdcdcd;
}